In [125]:
import pandas as pd
import re
import numpy as np

In [126]:
scrape_df=pd.read_csv("../data/raw/bookstoscrape.csv")
scrape_df.head()

,UPC,Title,Price (£),Rating,Genre,Availability,Description,Image_URL
0,a897fe39b1053632,A Light in the Attic,51.77,3,Poetry,In stock (22 available),It's hard to imagine a world without A Light i...,https://books.toscrape.com/media/cache/fe/72/f...
1,90fa61229261140a,Tipping the Velvet,53.74,1,Historical Fiction,In stock (20 available),"""Erotic and absorbing...Written with starling ...",https://books.toscrape.com/media/cache/08/e9/0...
2,6957f44c3847a760,Soumission,50.10,1,Fiction,In stock (20 available),"Dans une France assez proche de la nôtre, un h...",https://books.toscrape.com/media/cache/ee/cf/e...
3,e00eb4fd7b871a48,Sharp Objects,47.82,4,Mystery,In stock (20 available),"WICKED above her hipbone, GIRL across her hear...",https://books.toscrape.com/media/cache/c0/59/c...
4,4165285e1663650f,Sapiens: A Brief History of Humankind,54.23,5,History,In stock (20 available),From a renowned historian comes a groundbreaki...,https://books.toscrape.com/media/cache/ce/5f/c...

In [127]:
scrape_df.drop(['Price (£)','Rating','Availability'],axis=1,inplace=True)

In [128]:
scrape_df.rename(columns={"UPC": "uid","Title":"title","Genre":"genre","Description":"description","Image_URL":"image_url"}, inplace=True)

In [129]:
scrape_df.head()

,uid,title,genre,description,image_url
0,a897fe39b1053632,A Light in the Attic,Poetry,It's hard to imagine a world without A Light i...,https://books.toscrape.com/media/cache/fe/72/f...
1,90fa61229261140a,Tipping the Velvet,Historical Fiction,"""Erotic and absorbing...Written with starling ...",https://books.toscrape.com/media/cache/08/e9/0...
2,6957f44c3847a760,Soumission,Fiction,"Dans une France assez proche de la nôtre, un h...",https://books.toscrape.com/media/cache/ee/cf/e...
3,e00eb4fd7b871a48,Sharp Objects,Mystery,"WICKED above her hipbone, GIRL across her hear...",https://books.toscrape.com/media/cache/c0/59/c...
4,4165285e1663650f,Sapiens: A Brief History of Humankind,History,From a renowned historian comes a groundbreaki...,https://books.toscrape.com/media/cache/ce/5f/c...

In [130]:



def extract_author(text):
    if not isinstance(text, str):
        return "Author Unknown"

    # Case 1: "X is the author"
    match1 = re.search(r"([A-Z][a-z]+(?:\s[A-Z][a-z]+){0,2})\s+is the author", text)
    if match1:
        return match1.group(1)

    # Case 2: "from the author ... X"
    match2 = re.search(r"from the author.*?([A-Z][a-z]+(?:\s[A-Z][a-z]+){0,2})", text, flags=re.IGNORECASE)
    if match2:
        return match2.group(1)

    # Case 3: "written by X"
    match3 = re.search(r"written by\s+([A-Z][a-z]+(?:\s[A-Z][a-z]+){0,2})", text, flags=re.IGNORECASE)
    if match3:
        return match3.group(1)

    return "Author Unknown"

scrape_df["author"] = scrape_df["description"].apply(extract_author)

scrape_df.head()

,uid,title,genre,description,image_url,author
0,a897fe39b1053632,A Light in the Attic,Poetry,It's hard to imagine a world without A Light i...,https://books.toscrape.com/media/cache/fe/72/f...,Author Unknown
1,90fa61229261140a,Tipping the Velvet,Historical Fiction,"""Erotic and absorbing...Written with starling ...",https://books.toscrape.com/media/cache/08/e9/0...,Author Unknown
2,6957f44c3847a760,Soumission,Fiction,"Dans une France assez proche de la nôtre, un h...",https://books.toscrape.com/media/cache/ee/cf/e...,Author Unknown
3,e00eb4fd7b871a48,Sharp Objects,Mystery,"WICKED above her hipbone, GIRL across her hear...",https://books.toscrape.com/media/cache/c0/59/c...,Author Unknown
4,4165285e1663650f,Sapiens: A Brief History of Humankind,History,From a renowned historian comes a groundbreaki...,https://books.toscrape.com/media/cache/ce/5f/c...,Author Unknown

In [131]:
scrape_df["author"].eq("Author Unknown").sum()

np.int64(974)

In [132]:
scrape_df = scrape_df[["uid","title","author","genre","description","image_url"]]

In [133]:
scrape_df.head()

,uid,title,author,genre,description,image_url
0,a897fe39b1053632,A Light in the Attic,Author Unknown,Poetry,It's hard to imagine a world without A Light i...,https://books.toscrape.com/media/cache/fe/72/f...
1,90fa61229261140a,Tipping the Velvet,Author Unknown,Historical Fiction,"""Erotic and absorbing...Written with starling ...",https://books.toscrape.com/media/cache/08/e9/0...
2,6957f44c3847a760,Soumission,Author Unknown,Fiction,"Dans une France assez proche de la nôtre, un h...",https://books.toscrape.com/media/cache/ee/cf/e...
3,e00eb4fd7b871a48,Sharp Objects,Author Unknown,Mystery,"WICKED above her hipbone, GIRL across her hear...",https://books.toscrape.com/media/cache/c0/59/c...
4,4165285e1663650f,Sapiens: A Brief History of Humankind,Author Unknown,History,From a renowned historian comes a groundbreaki...,https://books.toscrape.com/media/cache/ce/5f/c...

In [134]:
scrape_df.shape

(1000, 6)

In [135]:
scrape_df.isna().sum()

uid            0
title          0
author         0
genre          0
description    2
image_url      0
dtype: int64

In [136]:
scrape_df['description'].fillna("A book written for you",inplace=True)

C:\Users\sheri\AppData\Local\Temp\ipykernel_16488\1265899837.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  scrape_df['description'].fillna("A book written for you",inplace=True)

In [137]:
scrape_df.isna().sum()

uid            0
title          0
author         0
genre          0
description    0
image_url      0
dtype: int64

In [138]:
googlebooks_df=pd.read_csv("../data/raw/googleapi_books.csv")
googlebooks_df.head()

,Title,Authors,Publisher,Published Date,Description,Page Count,Categories,Average Rating,Ratings Count,Language,Preview Link,ISBNs,Image
0,Harry Potter and the Deathly Hallows,J.K. Rowling,Pottermore Publishing,2015-12-08,"'Give me Harry Potter,' said Voldemort's voice...",766.0,Juvenile Fiction,4.5,68.0,en,http://books.google.de/books?id=gCtazG4ZXlQC&p...,"9781781100264, 1781100268",http://books.google.com/books/content?id=gCtaz...
1,Harry Potter: The Complete Collection (1-7),J.K. Rowling,Pottermore Publishing,2015-12-14,When Harry Potter is left on a doorstep as a b...,4140.0,Juvenile Fiction,4.0,57.0,en,http://books.google.de/books?id=f280CwAAQBAJ&d...,"9781781106464, 1781106460",http://books.google.com/books/content?id=f280C...
2,Harry Potter and the Order of the Phoenix,"J. K. Rowling, Merwin Smith",NaN,2003-06,Dumbledore lowered his hands and surveyed Harr...,NaN,England,NaN,NaN,en,http://books.google.de/books?id=UIBFPgAACAAJ&d...,"0747569436, 9780747569435",http://books.google.com/books/content?id=UIBFP...
3,Harry Potter,J. K. Rowling,Bloomsbury Publishing,2007-10,A fabulous opportunity to own all seven Harry ...,7.0,"Fantasy fiction, English",5.0,1.0,en,http://books.google.de/books?id=18LKPQAACAAJ&d...,"0747593698, 9780747593690",http://books.google.com/books/content?id=18LKP...
4,Guide to the Harry Potter Novels,Julia Eccleshare,A&C Black,2002-04-01,JK Rowling now is half-way through a series wh...,124.0,Literary Criticism,5.0,2.0,en,http://books.google.de/books?id=cHjF5K2uVdsC&p...,"9781847144188, 1847144187",http://books.google.com/books/content?id=cHjF5...

In [139]:
googlebooks_df.drop(['Publisher','Published Date','Page Count','Average Rating','Ratings Count','Language','Preview Link'],axis=1,inplace=True)

In [140]:
googlebooks_df.head()

,Title,Authors,Description,Categories,ISBNs,Image
0,Harry Potter and the Deathly Hallows,J.K. Rowling,"'Give me Harry Potter,' said Voldemort's voice...",Juvenile Fiction,"9781781100264, 1781100268",http://books.google.com/books/content?id=gCtaz...
1,Harry Potter: The Complete Collection (1-7),J.K. Rowling,When Harry Potter is left on a doorstep as a b...,Juvenile Fiction,"9781781106464, 1781106460",http://books.google.com/books/content?id=f280C...
2,Harry Potter and the Order of the Phoenix,"J. K. Rowling, Merwin Smith",Dumbledore lowered his hands and surveyed Harr...,England,"0747569436, 9780747569435",http://books.google.com/books/content?id=UIBFP...
3,Harry Potter,J. K. Rowling,A fabulous opportunity to own all seven Harry ...,"Fantasy fiction, English","0747593698, 9780747593690",http://books.google.com/books/content?id=18LKP...
4,Guide to the Harry Potter Novels,Julia Eccleshare,JK Rowling now is half-way through a series wh...,Literary Criticism,"9781847144188, 1847144187",http://books.google.com/books/content?id=cHjF5...

In [141]:
# Rename
googlebooks_df.rename(columns={"Title": "title","Authors": "author","Description":"description","Categories":"genre","ISBNs":"uid","Image":"image_url"}, inplace=True)

# Reorder
googlebooks_df = googlebooks_df[["uid", "title", "author","genre","description","image_url"]]

In [142]:
googlebooks_df.head()

,uid,title,author,genre,description,image_url
0,"9781781100264, 1781100268",Harry Potter and the Deathly Hallows,J.K. Rowling,Juvenile Fiction,"'Give me Harry Potter,' said Voldemort's voice...",http://books.google.com/books/content?id=gCtaz...
1,"9781781106464, 1781106460",Harry Potter: The Complete Collection (1-7),J.K. Rowling,Juvenile Fiction,When Harry Potter is left on a doorstep as a b...,http://books.google.com/books/content?id=f280C...
2,"0747569436, 9780747569435",Harry Potter and the Order of the Phoenix,"J. K. Rowling, Merwin Smith",England,Dumbledore lowered his hands and surveyed Harr...,http://books.google.com/books/content?id=UIBFP...
3,"0747593698, 9780747593690",Harry Potter,J. K. Rowling,"Fantasy fiction, English",A fabulous opportunity to own all seven Harry ...,http://books.google.com/books/content?id=18LKP...
4,"9781847144188, 1847144187",Guide to the Harry Potter Novels,Julia Eccleshare,Literary Criticism,JK Rowling now is half-way through a series wh...,http://books.google.com/books/content?id=cHjF5...

In [143]:
googlebooks_df.shape

(18007, 6)

In [144]:
googlebooks_df.isna().sum()

uid              227
title              1
author          4217
genre           3685
description    10658
image_url        874
dtype: int64

In [145]:
googlebooks_df.dtypes

uid            object
title          object
author         object
genre          object
description    object
image_url      object
dtype: object

In [146]:
googlebooks_df[googlebooks_df["title"].isnull()]

,uid,title,author,genre,description,image_url
3486,"9783819207402, 3819207406",NaN,NaN,NaN,NaN,http://books.google.com/books/content?id=ac9lE...

In [147]:
googlebooks_df.dropna(subset=["title"], inplace=True)

In [148]:
googlebooks_df.shape

(18006, 6)

In [149]:
googlebooks_df[googlebooks_df["uid"].isnull()]

,uid,title,author,genre,description,image_url
20,NaN,Harry Potter,NaN,NaN,NaN,http://books.google.com/books/content?id=n3vng...
46,NaN,Fantasy Novels: Invitations to Hell,"Creation Liberty Evangelism, Christopher J.E. ...",Education,Fantasy novels & movies are not just harmless ...,http://books.google.com/books/content?id=TdeNB...
49,NaN,Billboard,NaN,NaN,"In its 114th year, Billboard remains the world...",http://books.google.com/books/content?id=cQ8EA...
80,NaN,Pratiyogita Darpan,NaN,NaN,Pratiyogita Darpan (monthly magazine) is India...,http://books.google.com/books/content?id=UugDA...
317,NaN,Der Wet Bed Pride Guide,"Florence Grant, Forrest Grant",Fiction,"Gabriel ist ein Bettnässer, der in bereits nas...",http://books.google.com/books/content?id=zMxoE...
...,...,...,...,...,...,...
17471,NaN,Studies in Later Greek Comedy,Thomas Bertram Lonsdale Webster,NaN,NaN,http://books.google.com/books/content?id=hBgNA...
17843,NaN,Mythological Body,Premyogi Vajra,Art,Enter a world where ancient mythology and mode...,http://books.google.com/books/content?id=zjr3E...
17977,NaN,NEC The Computer and Communications Company,NaN,NaN,NaN,http://books.google.com/books/content?id=wtJY6...
17983,NaN,COPPER IN CHILE,THEODORE H. MORAN,NaN,NaN,http://books.google.com/books/content?id=OPzu4...
17984,NaN,the role of the financial sector in the econom...,rita m. maldonado,NaN,NaN,http://books.google.com/books/content?id=Evmu6...

In [150]:
# Generate random numbers only for rows where uid is null
googlebooks_df.loc[googlebooks_df["uid"].isnull(), "uid"] = np.random.randint(1000, 9999, googlebooks_df["uid"].isnull().sum())

In [151]:
googlebooks_df.duplicated().any()

np.False_

In [152]:
googlebooks_df.isna().sum()

uid                0
title              0
author          4216
genre           3684
description    10657
image_url        874
dtype: int64

In [153]:
googlebooks_df['image_url'].fillna("Image is not available",inplace=True)

C:\Users\sheri\AppData\Local\Temp\ipykernel_16488\2616777392.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  googlebooks_df['image_url'].fillna("Image is not available",inplace=True)

In [154]:
googlebooks_df.isna().sum()

uid                0
title              0
author          4216
genre           3684
description    10657
image_url          0
dtype: int64

In [155]:
googlebooks_df['author'].fillna("Author Unknown",inplace=True)
googlebooks_df['genre'].fillna("General",inplace=True)
googlebooks_df['description'].fillna("Read and describe",inplace=True)

C:\Users\sheri\AppData\Local\Temp\ipykernel_16488\1767729133.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  googlebooks_df['author'].fillna("Author Unknown",inplace=True)
C:\Users\sheri\AppData\Local\Temp\ipykernel_16488\1767729133.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  googlebooks_df['genre'].fillna("General",inplace=True)
C:\Users\sheri\AppData\Local\Temp\ipykernel_16488\1767729133.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  googlebooks_df['description'].fillna("Read and describe",inplace=True)

In [156]:
googlebooks_df.isna().sum()

uid            0
title          0
author         0
genre          0
description    0
image_url      0
dtype: int64

In [157]:


df = pd.concat([scrape_df, googlebooks_df], ignore_index=True)
df.shape

(19006, 6)

In [158]:
df.head()

,uid,title,author,genre,description,image_url
0,a897fe39b1053632,A Light in the Attic,Author Unknown,Poetry,It's hard to imagine a world without A Light i...,https://books.toscrape.com/media/cache/fe/72/f...
1,90fa61229261140a,Tipping the Velvet,Author Unknown,Historical Fiction,"""Erotic and absorbing...Written with starling ...",https://books.toscrape.com/media/cache/08/e9/0...
2,6957f44c3847a760,Soumission,Author Unknown,Fiction,"Dans une France assez proche de la nôtre, un h...",https://books.toscrape.com/media/cache/ee/cf/e...
3,e00eb4fd7b871a48,Sharp Objects,Author Unknown,Mystery,"WICKED above her hipbone, GIRL across her hear...",https://books.toscrape.com/media/cache/c0/59/c...
4,4165285e1663650f,Sapiens: A Brief History of Humankind,Author Unknown,History,From a renowned historian comes a groundbreaki...,https://books.toscrape.com/media/cache/ce/5f/c...

In [159]:
df.isna().sum()

uid            0
title          0
author         0
genre          0
description    0
image_url      0
dtype: int64

In [160]:
df.to_csv("../data/clean/books.csv", index=False)